.options-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid black;
    background-color: white;
    padding: 10px;
}

/* .options-container:hover {
    cursor: pointer;
    background-color: rgb(0, 161, 107);
    color: white;
} */

/* .options-container:active {
    background-color: yellow;
}
 */

.options-container:hover,
.options-container:active {
    background-color: rgb(245, 163, 56);
}